
*
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;  
  scroll-behavior: smooth;

}

body
{
    background-color: #d8dcf1;
}
h1
{
    font-size: 50px;
    text-align: center;
    
    text-decoration: underline;
}

 h2
{
    background-color:#8995d6;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

h3
{
    background-color:#b1b8e3;
    padding: 10px;
    text-align: center;
    color: white;
}

h4
{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

p
{
    text-align: center;
    padding: 15px;
    font-size: larger;
}

ul
{
 text-align: center;
 margin: 3vh;
}
li
{
    text-justify: auto;
    font-size: larger;
}


img
{
    display: block;
    margin: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.menu
{
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color:#3f51b5 ;
    color: white;
    text-align: center;
}

.menu a
{
    color: white;

}
.menu li
{
    padding: 2vh;
    justify-content: center;
    display: inline-block;
    flex-direction: row;
}
#intro p
{
    width: 60%;
    text-align: left;
    margin: auto;    
}


#intro .etape p
{
    padding-top: 5px;
    text-align: center;
}

.cadre
{
    border-width:1px;
    border-style: double;
    border-color:black;
    margin: 15px;
}

#sujet
{
}

#source
{
    background-color: rgb(23, 23, 60);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.lien
{
    display: inline;
}



#source a, #source h2
{
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: transparent;
}





