
*
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;  
}

body
{
    background-color: rgb(172, 210, 240);

}
h1
{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-decoration: underline;
}

 h2
{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

h3
{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

h4
{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

p
{
    text-align: center;
    padding: 15px;
    font-size: larger;
}

li
{
    text-justify: auto;
    padding: 15px;
    font-size: larger;
}

hr
{
    border: 0;
	border-top: 20px solid rgb(93, 144, 206);
    width: 100%;
}

img
{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.part
{
    background-color:rgb(23, 23, 60);
}

.part a
{
    color: white;
}
.part ul
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#intro
{
    padding-right: 200px;
    padding-left: 200px;    
    background-color: rgb(172, 210, 240);
    
}


#intro .etape p
{
    padding-top: 5px;
    text-align: center;
}

#intro .etape h3
{
    text-align: center;
    text-decoration: underline;
}

.cadre
{
    border-width:1px;
    border-style: double;
    border-color:black;
    margin: 15px;
}

#sujet
{
    background-color: rgb(172, 210, 240);
}

#source
{
    background-color: rgb(23, 23, 60);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}



#source a, #source h2
{
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}





