
*
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  
}

h1
{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-decoration: underline;
}

 h2
{
    font-size: 30px;
    background-color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

h3
{
    text-align: center;
    background-color: aquamarine;
    text-decoration: underline;
}

h4
{
    text-align: center;
    background-color: pink;
    text-decoration: underline;
}

p
{
    text-align: center;
    padding: 15px;
    font-size: larger;
}

li
{
    text-justify: auto;
    padding: 15px;
    font-size: larger;
}

img
{
    display: block;
    margin: auto;
}

.part ul
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#intro
{
    padding-right: 200px;
    padding-left: 200px;    
    background-color: red;
    
}

#intro .etape p
{
    padding-top: 5px;
    text-align: center;

}

#intro .etape h3
{
    text-align: center;
    background-color: aquamarine;
    text-decoration: underline;
}

#sujet
{
    padding-right: 200px;
    padding-left: 200px; 
    background-color: yellow;
}

#source
{
    background-color: rgb(145, 47, 145);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#source a 
{
    color: black;
    font-weight: bold;
}
test





